/* CSS Document */


.home-main .content {
    top: 40px;
    right: 40px;
    width: 40%;
}

.home-main .content {
    background-color: rgba(255,255,255,0.9);
}

.block-promo .content {
    display: block;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    padding: 25px 35px 35px;
}

.widget .block-promo img {
    max-width: none;
}

.block-promo {
    margin-bottom: 16px;
	
	color: #333;

}

.home-main { max-width: 1280px;
    height: 450px;
}

.block-promo .info {
    display: block;
    font-weight: 300;
    font-size: 2.2rem;
    margin-bottom: 20px;
}
.block-promo .title {
    display: block;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 15px;
}

.block-promo {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    color: #333 !important;
}

.block-promo .title + .button {
    margin-top: 10px;
}
.block-promo .button.more {
    font-size: 1.8rem;
    background-image: none;
    background: #1979c3;
    padding: 7px 15px;
    color: #fff;
    border: 1px solid #1979c3;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    box-sizing: border-box;
    vertical-align: middle;
    border-radius: 3px;
    text-decoration: none;
    padding: 10px 15px;
}